<% debug=1 %>

<% if debug==1 then %>
	
  DEBUG:
  <table class='standard_table' border='1' style='margin:5px;font-size:small;background:black;color:lightgrey;'>
  <tr><td>Domains:</td><td><%= @domains %></td></tr>
  
  <tr><td>Rank:</td><td><%= @rank_number %> - <%= @tax_rank  %></td></tr>
  
  <tr><td>NAs:</td><td><%= @nas %></td></tr>
  
  <tr><td style='width:200px'>Datasets:</td><td><%= @datasets %></td></tr>

  <tr><td style='width:200px'>Query:</td><td><%= @taxQuery %></td></tr>
 <!--   <tr><td>Tax:</td><td><%= @taxonomy_by_site %></td></tr> -->
  </table>
 
<% end %>