<h1>Bar Charts</h1>

<%= render "debug" %>
<%= render "downloads" %>

<div  id='bars_table_div' >
<table id ='bars_table'>
<% @ordered_datasets.each do |pj| %>       
  <% pj[:datasets].each do |ds|	%>
    <tr id=''><td nowrap='nowrap'><%= pj[:pname] %>--<%= ds[:dname] %></td>
	<td>
	<!-- # see: app/helpers/visualization_helper.rb -->
	<% puts 'ds '+ds.inspect %>
	<% ds_info = get_retmat(ds[:dname])  %>	

	<div class='bars_each_div' > 
		
	<% if ds_info[:retmat].any? and ds_info[:total] > 0 %>
		
		<table class='barChart' >
		<% ds_info[:retmat].each do |tax, value| %>
		  <% if (value*100 / ds_info[:total]) > 0.1 then %>							
			<tr>
				<td><%= tax %></td>
				<td><%= value %></td>
				<td><%= string_2_color(tax) %></td>
				<td><%= "http://www.google.com" %></td>
				<td><%= ds_info[:total] %></td>
				<td><%= ds[:dname] %></td>
			</tr>
		  <% end %>			
		<% end %>
	<% else %>
		<table class='nodata'>		
		<tr><td>No Data</td></tr>
	<% end %>
	</table>
	</div>
	</td>
</tr>
<% end %>	
<% end %>
</table>	
</div>	   
		