<h1><center>Community Visualization</center></h1>


<%= form_tag do %>

<center>
<table>

  <tr>
  	<td valign='top'>Choose:<br>
	  <div style='border:1px solid black;padding:5px 5px 5px 5px;'>
        <%= radio_button_tag(:view, 'heatmap') %>
		<%= label_tag(:view_heatmap, "Heatmap") %>
		<br>
        <%= radio_button_tag(:view, 'tax_table') %>
		<%= label_tag(:view_tax_table, "Tax Table") %>
		<br>
        <%= radio_button_tag(:view, 'bar_charts') %>
		<%= label_tag(:view_bar_charts, "Bar Charts") %>
    </div>
  	</td>
    <td>Projects - XML 
      <div id='xml_sample_treebox' 
  		style="width:250px; height:400px;background-color:#f5f5f5;border :1px solid red; overflow:auto;">
  	  </div>
    </td>
    <td>Projects - JSON
      <div id='json_sample_treebox' 
  		style="width:250px; height:400px;background-color:#f5f5f5;border :1px solid red; overflow:auto;">
  	  </div>
    </td>
    <td>Basic Taxonomy
      <div id='taxonomy_selector' 
        style="width:250px; height:400px;background-color:#f5f5f5;border :1px solid red;font-size:small;">
        <%= render "simple_taxonomy" %>    
      </div>
    </td>
  </tr>
</table>
</center>
<%= submit_tag("Submit") %>

<% end %>


<script type="text/javascript" charset="utf-8">
  get_json_project_tree()
  get_xml_project_tree()
  
</script>
<br>