
<h1><center>Community Visualization</center></h1>


<%= form_tag({controller: "visualization", action: "parse_view"}, :id=>'vizform', :method=> "post", :autocomplete=>"off") do %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<center>
<table>

  <tr>
  	<td valign='top'>Choose:<br>
	  <div id='choose_viz'>
	    <% ['heatmap', 'tax_table', 'bar_charts'].each do |view| %>
        <%= radio_button_tag(:view, view, view == "tax_table") %>
        <%= label_tag("view_#{view}", view.tr('_', ' ').capitalize) %>
        <br>
      <% end %>
      <hr>

    <%= button_tag "Submit" %>
    
    </div>
  	</td>

    <td valign='top'>
    <div class='no_bullets' style='width:400px;height:500px;overflow:auto;'>

        Projects 
         
      <ul>
      <% @projects.each do |project| %>
      <% puts project.inspect %>
      <% puts project.datasets.inspect %>
      <% if not project.datasets.blank? then %>
        
        <li>
          <label class="dataset-select">
            <a href='#' id="<%= project.project+'_toggle' %>" style='font-size:9px;' onclick="toggle_selected_datasets('<%= project.id %>','<%= project.project %>'); return false;" ><img alt='plus' src='assets/tree_plus.gif' /></a>
            <% project_cb_id = project.project+'--pj-id' %>
            <%= check_box_tag project_cb_id, project.id, false, :onclick=>"open_datasets('#{project.id}','#{project.project}')" %>
            <%= project.project %>

            
           
          </label>  
            <ul>
              <% project_dataset_div = project.id.to_s+'_ds_div' %>
              <div id='<%= project_dataset_div %>' style='display:none;'>  
                <% project.datasets.each do |dataset| %>
                  <li>
                  <label class="dataset-select">
                  <% box_name = project.project+'--ds-ids[]' %>
                  <%= check_box_tag box_name, dataset.id, false , :onclick=>"check_project('#{project.id}','#{project.project}')" %>
                  <%= dataset.dataset %>
                  </label>
                  </li>
                <% end %>
              </div>
            </ul>
            
        </li>
      <% end %>
      <% end %>
      </ul>     
      
    
  </div>

    </td>
    <td valign='top'>Basic Taxonomy
      <div id='basic_taxonomy_selector' >
        <%= render "simple_taxonomy" %>    
      </div>
    </td>


  </tr>
</table>
</center>


<% end %>

<br>


