<h1><center>Community Visualization</center></h1>


<%= form_tag({controller: "visualization", action: "parse_view"}, :id=>'vizform', method: "post") do %>

<center>
<table>

  <tr>
  	<td valign='top'>Choose:<br>
	  <div id='choose_viz'>
        <%= radio_button_tag(:view, 'heatmap') %>
		<%= label_tag(:view_heatmap, "Heatmap") %>
		<br>
        <%= radio_button_tag(:view, 'tax_table', true) %>
		<%= label_tag(:view_tax_table, "Tax Table") %>
		<br>
        <%= radio_button_tag(:view, 'bar_charts') %>
		<%= label_tag(:view_bar_charts, "Bar Charts") %>
    <br><hr>

    <%= button_tag("Submit") %>
    
    </div>
  	</td>

    <td valign='top'>
    <div style='width:400px;height:500px;overflow:auto;'>


      
        Projects 
         
        <% all_projects = Project.all %>
      <ul>
      <% all_projects.each do |project| %>
      <li>
        <label class="dataset-select">
          <%= check_box_tag project, project.id, false, :onclick=>"open_datasets('#{project.id}','#{project.project}')"%>
          <%= project.project %>

          <a href='#' id="<%= project.project+'_toggle' %>" style='visibility:hidden;font-size:9px;' onclick="toggle_selected_datasets('<%= project.project %>'); return false;" >(toggle)</a>
        </label>  
          <ul>
          <div id='<%= project.id %>' style='display:none;'>  
          <% project.datasets.each do |dataset| %>
          <li>
          <label class="dataset-select">
            <% box_name = project.project+'_ds_ids[]' %>
            <%= check_box_tag box_name, dataset.id, false %>
            <%= dataset.dataset %>
          </label>
          </li>
          <% end %>
          </div>
          </ul>
          
      </li>
      <% end %>
      </ul>
      
      
      
    
  </div>

    </td>
    <td valign='top'>Basic Taxonomy
      <div id='basic_taxonomy_selector' >
        <%= render "simple_taxonomy" %>    
      </div>
    </td>





  </tr>
</table>
</center>


<% end %>

<br>


