<h1>Tax Table</h1>


<%= render "debug" %>

<table class='standard_table'>


<% projects = [] %>
<% column_totals = {} %>
<% if @taxonomy_by_site_hash.any? %>
	<tr><th>Taxonomy</th>
<!--
## Getting data out of these nested hashes is way too difficult
## especially if we have to sort the data 
-->
	<% @taxonomy_by_site_hash.each do |tax, data| %>
	  <% data.each do |project, ds_hash|%>
		<% ds_hash.each do |dataset|%>
			<% ds = dataset[0] %>
			<% count = dataset[1] %>
			<% pd = project+'--'+ds %>
			<% if not projects.include?(pd) then %>
				<% projects << pd %>
			<% end %>
		<% end %>
	  <% end %>
	<% end %>
	
    <% projects.each do |pd| %>    
		<td> <%= link_to pd, "ds_pie" %> </td>    
    <% end %>
</tr>

	<% @taxonomy_by_site_hash.each do |tax, data| %>
	<tr><td><%= tax %></td>
	
	  <% data.each do |project, ds_hash|%>
		<% ds_hash.each do |dataset|%>
			<% ds = dataset[0] %>
			<% count = dataset[1] %>
			<% pd = project+'--'+ds %>
			<td><%= count %></td>
			<% if column_totals.has_key?(pd) then %>
			  <% column_totals[pd] += count %>
			<% else %>
			  <% column_totals[pd] = count %>
			<% end %>
		<% end %>
	  <% end %>
	  </tr>
	<% end %>

<% else %>
	<tr><td><strong>NO DATA</strong></td></tr>
<% end %>
<tr>
	<td><b>TOTALS:</b></td>
	<% column_totals.each do |t| %>
  		<td><b><%= number_with_delimiter(t[1]) %></b></td>
	<% end %>
</td>
</table>


