<h1>Tax Table</h1>

<%= render "debug" %>

<div  id='tax_table_div' >
<table class='standard_table'>


<% projects = [] %>
<% column_totals = {} %>
<% if @taxonomy_by_site_hash.any? %>
	<tr><th style='text-align:right;'>Projects:</th>
<!--
## Getting data out of these nested hashes is way too difficult
## especially if we have to sort the data 
-->
	<% @taxonomy_by_site_hash.each do |tax, data| %>
	  <% data.each do |project, ds_hash|%>
		<% ds_hash.each do |dataset|%>
			<% ds = dataset[0] %>
			<% count = dataset[1] %>
			<% pd = project+'--'+ds %>
			<% if not projects.include?(pd) then %>
				<% projects << pd %>
			<% end %>
		<% end %>
	  <% end %>
	<% end %>

	<% @ordered_projects.each do |p| %>
		
	  		<td class='td-text-center' colspan='<%= p[:datasets].length %>'> <%= p[:pname] %> </td>   
	  	
	<% end %>
	</tr>
	<tr><th class='td-text-right' >Datasets:</th>
	<% @ordered_projects.each do |p| %>
		<% p[:datasets].each do |d| %>
		  <td class='td-text-center' > <%= d[:dname] %> </td> 
		<% end %>
	<% end %>

    
    </tr>

	<% @taxonomy_by_site_hash.each do |tax, data| %>
	<tr><td nowrap='nowrap' class='td-text-left'  ><%= tax %></td>
	
	  <% data.each do |project, ds_hash|%>
		<% ds_hash.each do |dataset|%>
			<% ds = dataset[0] %>
			<% count = dataset[1] %>
			<% pd = project+'--'+ds %>
			<td class='td-text-right' ><%= count %></td>
			<% if column_totals.has_key?(pd) then %>
			  <% column_totals[pd] += count %>
			<% else %>
			  <% column_totals[pd] = count %>
			<% end %>
		<% end %>
	  <% end %>
	  </tr>
	<% end %>
	<tr>
	<td class='td-text-right' ><b>TOTALS:</b></td>
	<% column_totals.each do |t| %>
  		<td class='td-text-right' ><b><%= number_with_delimiter(t[1]) %></b></td>
	<% end %>
	</td>
<% else %>
	<tr><td class='td-text-center' ><strong>NO DATA</strong></td></tr>
<% end %>

</table>
</div>

