<h1>Tax Table</h1>

<%= render "debug" %>

<div  id='tax_table_div' >
<table class='standard_table'>

  <tr>
    <th></th>
    <th style='text-align:right;'>Projects:</th>    
    <% @choosen_projects_w_d.each do |project| %>
  	  <th style="text-align:center;" colspan="<%= project[:datasets].length %>"> <%= project[:pname] %> </th>   
    <% end %>
  </tr>
  <tr><td class='td-text-center'>n</td><th class='td-text-right' >Datasets:</th>
    <!-- TODO: benchmark w and w/o loop, refactor-->
	<% @choosen_projects_w_d.each do |project| %>
		<% project[:datasets].each do |d| %>
		  <td class='td-text-center' > <%= d[:dataset] %> </td> 
		<% end %>
	<% end %>

    
    </tr>
	
    <% n = 0 %>
  
    <% @taxonomy_by_site_hash.each do |taxon_string, data| %>
      <% n += 1 %>
      <tr>
        <td class='td-text-right'><%= n %></td><td nowrap='nowrap' class='td-text-left'  ><%= taxon_string %></td>  
        <% data[:cnts].each do |d_id, cnt|%>
            <td style='text-align:right;padding:1px 3px;'><%= cnt %></td>      
        <% end %>        
        <td style='text-align:right;padding:1px 3px;'><%= data[:sum] %></td>      
      </tr>
    <% end %>
    
    <tr>
      <td></td>
      <td style='text-align:right;padding:1px 3px;'>Total count</td>
      <% @dat_counts.each do |id, d_cnt| %>
      <td style='text-align:right;padding:1px 3px;'><%= d_cnt %></td>      
  	<% end %>


      </tr>


</table>	
</div>
